<h1>ヒトリのみ管理者ページ</h1>

<%= form_with url: admin_login_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= link_to "パスワードをお忘れですか？", "#", style: "font-size: 0.9rem;" %>
  </div>

  <%= f.submit "ログイン", class: "btn btn-primary" %>
<% end %>

